/build/
/build-*/
/cmake-build-*/
/install/
/install-*/
/Testing/
/.cache/
.DS_Store
CMakeUserPresets.json
compile_commands.json
/*.plist
*.profraw
*.profdata
*.gcda
*.gcno
crash-*
leak-*
oom-*
timeout-*
slow-unit-*
